{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier",
    "stylelint-config-standard-scss"
  ],
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-class-pattern": null,
    "selector-id-pattern": null
  }
}
