@mixin scrollbar($size: 6px, $thumb-color: #ffcc21, $track-color: #777777) {
  // For Firefox only
  // When these properties are set, ::-webkit-scrollbar styling is disabled.
  /* stylelint-disable-next-line function-url-quotes */
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $track-color transparent;
  }

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-clip: padding-box;
    background-color: $thumb-color;
  }
}
