@mixin scrollbar($size: 6px, $thumb-color: #ffcc21, $track-color: #777777) {
  // For Firefox only
  // When these properties are set, ::-webkit-scrollbar styling is disabled.
  /* stylelint-disable-next-line function-url-quotes */
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $track-color transparent;
  }

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-clip: padding-box;
    background-color: $thumb-color;
  }
}

@mixin gradient-text {
  background-image: var(--primary-bg);
  color: transparent;
  background-clip: text;
}

@mixin container {
  margin: 0 auto;
  max-width: 95%;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }

  @media (min-width: 1600px) {
    max-width: 1536px;
  }
}
