.default-layout-header-wrapper {
  height: var(--header-height);
  line-height: var(--header-height);
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17161ab2;
  z-index: 1;

  &.useMobileHeader {
    --header-height: 64px;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
  }

  .navigation-menu-wrapper {
    flex: 1;
  }

  .ant-btn-primary {
    width: 160px;
    height: 40px;
  }
}
