@import '../../styles/mixins';

.default-layout-header-wrapper {
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.useMobileHeader {
    --header-height: var(--mobile-header-height);

    position: sticky;
    top: 0;
    margin-bottom: 20px;
  }

  .navigation-menu-wrapper {
    flex: 1;
  }

  .ant-btn-primary {
    width: 160px;
    height: 40px;
  }
}
