.author-avatar-wrapper {
  .ant-avatar {
    background-color: #f3f3f3;
  }

  .author-avatar-status {
    background: #17161a;
    bottom: 0;
    right: 0;
    top: unset;
    transform: unset;
  }
}
