@import '../../../styles/mixins';

.product-list-wrapper {
  .ant-list {
    .ant-spin-nested-loading {
      padding: 2px 32px 16px 32px;
      max-height: 300vh;
      height: max-content;
      overflow: auto;
    }
  }

  .ant-list-item {
    margin-block-end: 0 !important;
  }

  .view-more-btn {
    margin: 55px auto 0 auto;

    .ant-btn {
      width: 326px;

      &.hidden {
        visibility: hidden;
      }
    }
  }

  .ant-empty {
    .ant-typography {
      @include gradient-text;
    }
  }
}
