.default-layout-footer-wrapper {
  background-color: #17161a;
  padding: 60px 160px 200px;

  h4 {
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  span.ant-typography {
    font-size: 16px;
    font-weight: 500;
  }

  a span.ant-typography:hover {
    text-decoration: underline;
  }

  .ant-divider {
    border-block-start-color: #3a3841;
    margin: 60px 0 40px;
  }

  .ant-btn-primary {
    width: 168px;
  }
}
