.product-categories-wrapper {
  margin-bottom: 40px;

  &-inner {
    display: flex;
    align-items: center;
    gap: 24px;
    overflow-x: auto;
    margin: 0 32px 0 16px;
  }

  .ant-btn {
    padding: 10px 16px;
    border: none;
    color: #fff !important;

    &-default {
      background: linear-gradient(
        91.47deg,
        rgba(218, 69, 143, 0.4) -6%,
        rgba(218, 52, 221, 0.4) 113.05%
      ) !important;
    }
  }
}
